.layoutContainer {
  display: flex;
  width: 100vw; /* Ensure full viewport width */
  height: 100vh; /* Ensure full viewport height */
  overflow: hidden; /* Prevent scrolling on the layout itself */
  background-color: var(--layout-background); /* Use global variable */
}
